.container {
  display: grid;
  grid-template-rows: min-content 10rem min-content;
  gap: 1rem;
}

.container h2 {
  font-size: var(--font-size-l);
  margin: 0;
}

.container .dimmed {
  opacity: 0.4;
}
