.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.guesses {
  padding: 0 0 0 1em;
}
.guesses li {
  font-size: var(--font-size-l);
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  line-height: 2;
  position: relative;
}

.guesses li::before {
  content: "-";
  position: absolute;
  left: -1rem;
}

.guesses li a {
  text-decoration: none;
}

.guesses li a:active {
  scale: 1.2;
}
