.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.guesses {
}
.guesses li {
  font-size: var(--font-size-l);
}
