.container {
  border: 2px solid;
  font-family: var(--font-family-body);
  font-size: var(--font-size-m);
  padding: 0.5em;
  box-shadow: 4px 4px 0 var(--color-text);
}

.container:focus-visible {
  outline: none;
  border-color: var(--color-accent-1);
}
