.viewportContainer {
  position: absolute;
  inset: 0.5rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 440px) {
  .viewportContainer {
    inset: 2rem;
  }
}

.pageContainer {
  padding: 0 1rem 1rem;
  max-width: 30rem;
  width: 100%;
  height: 100%;
  gap: 1rem;
  display: grid;
  grid-template-rows: min-content auto min-content;
  border: 4px solid;
  box-shadow: 6px 6px 0 var(--color-text);
  background-color: var(--color-bg);
}

.header {
  overflow: hidden;
}

.main {
  grid-row: 2;
  margin-inline: -1rem;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  padding: 0.5rem 0 0;
  border-top: 2px solid;
  text-align: end;
}
