.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main textarea {
  margin: 0;
  display: block;
  padding: 0.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: inherit;
  font-family: inherit;
  font-size: 1em;
  width: calc(100% + 1rem);
  height: 8.5rem;
  margin-inline: -0.5rem;
}

.main button {
  appearance: none;
  background: var(--color-text);
  color: var(--color-bg);
  border: none;
  font-family: inherit;
  display: inline-block;
  line-height: inherit;
  font-size: 1em;
  cursor: pointer;
}

.form {
  font-size: var(--font-size-m);
}

.response {
  position: absolute;
  inset: 0;
  background: var(--color-bg);
  color: var(--color-text);
  border: 3px solid;
  display: grid;
  place-items: center;
  place-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
}

.responseContent {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 40rem;
}

.responseActions {
  display: flex;
  font-size: var(--font-size-m);
  gap: 1rem;
}

.resultExcluded {
  color: red;
}
