.viewportContainer {
  position: absolute;
  inset: 0.5rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.pageContainer {
  padding: 0 1rem 1rem;
  max-width: 30rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border: 2px solid;
  box-shadow: 4px 4px 0 var(--color-text);
  overflow: hidden;
  background-color: var(--color-bg);
}

.header {
}

.main {
  flex: 1;
  display: flex;
  place-items: center;
}
.footer {
  padding: 0.5rem 0 0;
  border-top: 2px solid;
  text-align: end;
}
